.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80px;
    background: #330a0e;
    color: #fff;    
    flex-grow: 0;
    margin-bottom: 2em;
}